[submodule "third_party/grounding_dino"]
	path = third_party/grounding_dino
	url = https://github.com/guchengxi1994/GroundingDINO
[submodule "third_party/mltools"]
	path = third_party/mltools
	url = https://github.com/guchengxi1994/mltools
