fastapi==0.115.12
ffmpeg_python==0.2.0
nacos_sdk_python==2.0.4
numpy==2.2.5
openai==1.76.0
opencv_python==4.11.0.86
opendal==0.45.18
pydantic==2.11.3
PyYAML==6.0.2
PyYAML==6.0.2
SQLAlchemy==2.0.40
sse_starlette==2.2.1
supervision==0.25.1
ultralytics==8.3.91
uvicorn==0.34.2
lpips
pytorch-fid