fastapi==0.136.1
uvicorn==0.46.0
pydantic==2.10.4
PyYAML==6.0.2
numpy==2.2.6
opencv_python
openai
dashscope
nacos-sdk-python==2.0.9
rapidocr
onnxruntime==1.26.0
pika==1.3.2
opendal==0.46.0
supervision
requests
loguru==0.7.3
